<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/events.css" rel="stylesheet">
    <!-- first : bootstrap.css, second: resent.css, third: main.css, media.css-->

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="brand">Aalto Events</div>
    <div class="address-bar">Alone we can do so little; together we can do so much - Helen Keller</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
    <h3 class="text-center"> Welcome to admin page</h3>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
                

        </div>

     <div class="row">
      
            <div class="col-md-3 nav_admin">
            <div class="avatar">    <img src="img/avatar.png" alt=""></div>
                 <ul class="nav navbar-nav">
                    <li>
                        <a href="events.html">Home</a>
                    </li>
                    <li>
                        <a href="events.html">Users</a>
                    </li>
                     <li>
                        <a href="events.html">Events</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-9">
              <form action="" method="POST" class="blockType formField">
                  <input type="text" placeholder="Login" class="typeText" name="textName">
                  <input type="password" placeholder="password" class="typePassword" name="passwordName">
                  <select class="typeSelect">
                      <option value="1">Value1</option>
                      <option value="2">Value2</option>
                      <option value="3">Value3</option>
                      <option value="4">Value4</option>
                  </select>
                  <input type="submit" value="Send" name="submit" class="typeSubmit">
              </form>
            </div>

     </div>

     

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Aalto Events Platform 2015</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
